<div class="container">
    <div class="sidebar">
        <nav>
            <ul>
                <li>Work</li>
                <li>About</li>
                <li>Contact</li>
                <li>Resume</li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <div class="infoContainer">
            <div class="devInfo">
                <div class="hello">Hi I am</div>
                <div class="name">Sanjay Gangwar</div>
                <div class="about">Software Developer</div>
                <div class="moreAbout">I am a FullStack Software Developer currently working with S&P Gloabl.I lives in
                    Gurgaon India and loves to play Football.</div>
                <div class="buttons">
                    <button type="button">Download Resume</button>
                    <button type="button">Contact Me</button>
                </div>
            </div>
            <div class="devPic">
                <img src="../../assets/sanjay.jpg">
            </div>
        </div>
    </div>
</div>